/* Forms Styling for Login Form*/

form {
  width: 60%;
  text-align: center;
  align-content: center;
  display: inline-block;
}

.formcontainer {
  padding: 30px;
}

input[type="text"],
[type="password"] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgba(219, 207, 207, 0.637);
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
}

button {
  background-color: #00aaf7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-family: Raleway;
  font-size: 25px;
  border-radius: 100px;
}

button:hover {
  opacity: 0.5;
}

.cmsloginbutton {
  background-color: #011d96;
}

.backbutton {
  background-color: #ce0000;
}

label,
input {
  font-family: Raleway;
}

label {
  display: block;
  color: black;
  margin: 0 0 4px;
  font-size: 30px;
  margin-bottom: 10px;
}

input {
  border: #000;
  padding: 10px;
  font-size: 1.2em;
}

input::placeholder {
  color: #a08b87;
  font-family: Raleway;
  text-align: center;
}

h1 {
  font-family: Raleway;
  font-size: 5em;
}
