button {
  background-color: #00aaf7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  font-family: Raleway;
  font-size: 30px;
  border-radius: 100px;
}

button:hover {
  opacity: 0.5;
}

.addproductbutton {
  background-color: #ce0000;
}

.editproductbutton {
  background-color: #32a800;
}

.viewproductbutton {
  background-color: #011d96;
}

.viewcustomerorderproductbutton {
  background-color: #2c3e50;
}

.cmslogoutbutton {
  background-color: #ff5733;
}

h3 {
  font-family: Raleway;
  font-size: 4em;
}

p {
  font-family: Raleway;
}
